.header-container {
  margin: 20px auto;
  
}

.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr {
  padding: 70px auto;
}

.action {
  text-align: right;
}

.cancel {
  background-color: transparent;
  border: red 1px solid;
  margin-right: 10px;
}

label {
  margin-right: 50px;
}

.validation-message {
  margin-top: -10px;
  font-size: 14px;
  color: red;
}
